/*---------------------
-----------------------
        Général
-----------------------
---------------------*/

:root{
  --rouge:#C26573;
  --vert:#C2C880;
  --gris0:#EAEAEA;
  --gris1:#D1CFCF;
  --gris2:#444343;
}

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}
body{
  background-color:var(--gris0);
}

/*---------------------
-----------------------
        Home
-----------------------
---------------------*/

/* Navbar */
.nav {
  background-color: #D1CFCF;
  height:8vh;
  width:100vw;
  position:absolute;
  bottom:0;
  left:0;
  display:flex;
  align-items: center;
  align-content: center;
}

.ajouter {
  background-image:url('images/icon_ajouter.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width:25vw;
  height:6vh;
}

.logo_home {
  background-image:url('images/logo_reduit.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width:50vw;
  height:8vh;
  border-radius:100%;
}

.login {
  background-image:url('images/connexion.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width:25vw;
  height:6vh;
}

/* Logo + carousel*/
.logo{
  width: 80vw;
  padding:10px;
}

div#slider {
  width: 100%;
  max-width: 1000px;
}

div#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  padding: 0;
  font-size: 0;
  text-align: left;
}

div#slider figure img {
  width: 20%;
  height: auto;
  float: left;
}

div#slider {
  width: 100%;
  max-width: 1000px;
  overflow: hidden;
  margin-bottom:10px;
}

@keyframes slidy {
  0% { left: 0%; }
  20% { left: 0%; }
  25% { left: -100%; }
  45% { left: -100%; }
  50% { left: -200%; }
  70% { left: -200%; }
  75% { left: -300%; }
  95% { left: -300%; }
  100% { left: -400%; }
}
div#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  padding: 0;
  font-size: 0;
  left: 0;
  text-align: left;
  animation: 30s slidy infinite;
}

/* Search bar */
@font-face {
  font-family: "SailecLight";
  src: url("fonts/Sailec\ Light.ttf");
  
}

@font-face {
  font-family: "SailecMedium";
  src: url("fonts/Sailec\ Medium.ttf");
  
}
.about-bck {
  background:#EAEAEA;
  width:100vw;
  height:100vh;
}
#search {
  background-color: white;
  border: none;
  border-radius: 1vh;
  width:70vw;
  height:4vh;
  color: #444343;
  font-family: SailecLight;
  outline: none;

}
.formsearch{
  display:flex;
  justify-content: center;
  margin: 20px 0px 20px 0px;
  outline: none;
}

#loupe {
  background-image:url(images/loupe.svg);
  width:7vw;
  height:4vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position:relative;
  background-color:transparent;
  top: 0;
  left:0;
  border:none;
  outline: none;
}

/* Quizz list */
.quizz_card{
  background-color:var(--gris1);
  width:95%;
  margin:auto;
  display:flex;
  margin-bottom:15px;
  border-radius: 10px;
}
.image{
  width:30%;
  padding:10px;
}
.image > img{
  width:100%;
  height:100%;
  border-radius:5px;
}
.infos{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding:5px 5px 5px 0px;
  width:70%;
}
.infos > .title{
  text-transform: uppercase;
  margin:0;
}
.infos > p{
  margin:0;
  font-size:0.9rem;
}
.infos > .play_link{
  background-color: var(--rouge);
  color:white;
  text-align: center;
  text-decoration: none;
  width:50%;
  padding:2px;
  border-radius: 5px;
  text-transform: uppercase;
}

/*---------------------
-----------------------
        Quizz page
-----------------------
---------------------*/
.imganswer{
  width:20vw;
  height:20vw;
}
.quizzcontent > h4{
  text-align: center;
  color:var(--rouge);
  text-transform: uppercase;
  padding-top:5px;
  padding-bottom:15px;
}
.quizzcontent > h3{
  text-align: center;
}
.quizzcontent > ul{
  display:flex;
  flex-wrap:wrap;
  justify-content: space-evenly;
  list-style-type: none;
  padding-top:15px;
  padding-bottom:25px;
}
.quizzcontent > ul > li{
  width:90%;
  padding-top:10px;
}
.buttondiv{
  display:flex;
  justify-content: center;
}
.validate_button{
  background-color: var(--rouge);
  color:white;
  width:70%;
  text-align: center;
  text-decoration: none;
  padding:10px;
  border-radius: 5px;
}
.checked{
  background-color: var(--vert);
}
.buttonanswer{
  border:1px solid black;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
}
/*---------------------
-----------------------
        Add quizz
-----------------------
---------------------*/
.Rep{
  margin-top: 200px;
}
.addRep{
  display: flex;
  justify-content:space-around;
  align-items:center;
  margin-top: 10px;
}
.addRep div div{
  margin-bottom:10px;
}
.Rep form{
  width: 100%;
}
.coche{
  display: flex;
  background-color: red;
}
.addRep div div {
  display: flex;
}
[type="checkbox"]{
  margin-top:10px;
}
.addRep div div [type="text"]{
  width:150px;
}
.score{
  width: 20%;
}
.quest{
  width:90%;
}













































/*---------------------
-----------------------
   Login / Connexion
-----------------------
---------------------*/
.log{
  text-align: center;
}

.log h2{
  color: #444343;
  margin-top: 80px;
  margin-bottom: 30px;
  font-size: 28px;
}

.log form{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.log p{
  margin-top: 40px;
  font-size: 18px;
}

.infosLog{
  display: flex;
  flex-direction: column;
}

.infosLog input{
  border: none;
  border-radius: 12px;
  padding: 12px;
  margin-bottom: 24px;
  font-size: 18px;
}

.buttonLog{
  border: none;
  border-radius: 15px;
  padding: 6px;
  text-transform: uppercase;
  color: white;
  background-color: #C26573;
  width: 60%;
  font-size: 16px;
  margin-top: 15px;
}

.lienLog{
  color: #444343;
  font-weight: bold;
  text-decoration: none;
}

#sentencepwd{
  display: none;
}

/*---------------------
-----------------------
   Barre nav connecté
-----------------------
---------------------*/

.ajouter2 {
  background-image:url('images/icon_ajouter.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width:20vw;
  height:6vh;
}
.trophee {
  background-image:url('images/trophee.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width:20vw;
  height:6vh;
}
.logo_home2 {
  background-image:url('images/logo_reduit.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width:20vw;
  height:8vh;
  border-radius:100%;
}
.profil {
  background-image:url('images/login.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width:20vw;
  height:6vh;
}
.deconnexion {
  background-image:url('images/deconnexion.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width:20vw;
  height:6vh;
}



/*---------------------
-----------------------
   Add quiz
-----------------------
---------------------*/
.loginquizz{
  margin-top: 20px;
  background-image: url('images/connexion.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 20vh;
}
